name: Maestro Test Workflow

# 1. Event
on:
  workflow_dispatch: # 手動実行

# 2. Workflow
jobs:
  maestro_test: # job_1
    runs-on: macos-latest
    timeout-minutes: 30

    steps:
    # Maestroのセットアップ
      - name: Install dependencies and Maestro
        run: |
          export MAESTRO_VERSION=1.39.7
          curl -Ls "https://get.maestro.mobile.dev" | zsh
          arch -arm64 brew tap facebook/fb
          arch -arm64 brew install facebook/fb/idb-companion
          arch -arm64 brew install jq

    # Javaのセットアップ
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

    # シミュレータ向けにビルド

    # ビルド成果物から.appファイルを取り出してシミュレータにインストール

    # Maestroのテストを実行
